.content__promo {
  max-width: 100%;
  margin-top: 120px;
}

@media screen and (max-width: 984px) {
  .content__promo {
    margin-top: 20px;
  }
}

@media screen and (max-width: 580px) {
  .content__promo {
    margin-top: 14px;
  }
}
