.about-me__portfolio-link {
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -1.2px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.about-me__portfolio-link::after {
  content: "";
  display: block;
  width: 25px;
  height: 19px;
  background-image: url(../../../images/link-icon.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

@media screen and (max-width: 984px) {
  .about-me__portfolio-link {
    font-size: 28px;
    letter-spacing: -1.12px;
  }

  .about-me__portfolio-link::after {
    width: 24px;
    height: 17px;
    background-size: 20px 17px;
  }
}

@media screen and (max-width: 580px) {
  .about-me__portfolio-link {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }

  .about-me__portfolio-link::after {
    width: 16px;
    height: 14px;
    background-size: 13px 11px;
  }
}
