.section__heading {
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #dadada;
  padding-bottom: 23px;
  box-sizing: border-box;
  margin: 0;
}

@media screen and (max-width: 580px) {
  .section__heading {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }
}
