.about-project {
  display: flex;
  flex-direction: column;
  /* row-gap: 110px; */
}

/* @media screen and (max-width: 984px) {
  .about-project {
    row-gap: 70px;
  }
}

@media screen and (max-width: 580px) {
  .about-project {
    row-gap: 60px;
  }
} */
