.techs__text {
  max-width: 460px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.56px;
  text-align: center;
  margin: 0;
  margin-bottom: 100px;
}

@media screen and (max-width: 984px) {
  .techs__text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
    margin-bottom: 83px;
  }
}

@media screen and (max-width: 580px) {
  .techs__text {
    max-width: 292px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
    margin-bottom: 50px;
  }
}
