.about-project__stage {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

@media screen and (max-width: 984px) {
  .about-project__stage {
    row-gap: 22px;
  }
}

@media screen and (max-width: 580px) {
  .about-project__stage {
    row-gap: 16px;
  }
}
