.promo__nav-tab {
  display: flex;
  /* flex-direction: row;
  justify-content: space-around;
  align-items: center; */
  column-gap: 10px;
  margin-bottom: 30px
}

@media screen and (max-width: 580px) {
  .promo__nav-tab {
    column-gap: 6px;
  }
}
