.about-project__stages {
  display: flex;
  flex-direction: row;
  column-gap: 52px;
  margin-bottom: 110px;
}

@media screen and (max-width: 984px) {
  .about-project__stages {
    column-gap: 36px;
    margin-bottom: 93px;
  }
}

@media screen and (max-width: 580px) {
  .about-project__stages {
    display: flex;
    flex-direction: column;
    row-gap: 56px;
    margin-bottom: 60px;
  }
}
