.about-me__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 270px;
  margin-bottom: 100px;
}

@media screen and (max-width: 984px) {
  .about-me__info {
    column-gap: 49px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 580px) {
  .about-me__info {
    flex-direction: column-reverse;
    row-gap: 40px;
    margin-bottom: 70px;
  }
}
