.section_size_m {
  max-width: calc(100% - 40px * 2);
}

@media screen and (max-width: 984px) {
  .section_size_m {
    max-width: calc(100% - 20px * 2);
  }
}

@media screen and (max-width: 580px) {
  .section_size_m {
    max-width: calc(100% - 14px * 2);
  }
}
