.field__input {
  width: 100%;
  color: var(--color-form);
  transition: all .3s;
}

.field__input:not(:valid)[type=password] {
  color: var(--color-form-error);
}

.field__error {
  min-height: 10px;
  color: var(--color-form-error);
  font-size: 10px;
  line-height: 10px;
  display: block;
  visibility: hidden;
}

.field__input:not(:valid) + .field__error {
  visibility: visible;
}

/* Стили для полей при авторизации
 и регистрации пользователя */

.field-auth {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field-auth__label {
  color: var(--color-gray);
  font-size: 10px;
}

.field-auth__input {
  font-size: 13px;
  line-height: 16px;

  background-color: var(--bg-color-dark-gray);
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 14px 14px;
}

.field-auth__input:focus {
  border-color: var(--color-blue);
  outline: none;
}

/* Стили для полей при авторизации
 и регистрации пользователя */

.field-profile {
  position: relative;
}

.field-profile__label {
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;

  position: absolute;
  top: 10px;
  left: 0;
}

.field-profile__input {
  font-size: 11px;
  text-align: end;
  line-height: 14px;
  border-bottom: 1px solid var(--border-color-primary);
  border-radius: 0;
  background-color: inherit;
  padding: 10px 0 16px 50px;
  margin: 0;
}

.field-profile__input:focus {
  border-color: var(--color-light);
  outline: none;
}

.field-profile > .field__error {
  min-height: 7px;
}
