.about-project__stage-header {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin: 0;
}

@media screen and (max-width: 580px) {
  .about-project__stage-header {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.72px;
  }
}
