.search {
  --color-form: #8b8b8b;

  width: 100%;
  border-bottom: 1px solid #424242;
  padding-block: 80px 39px;
}

.search__form {
  display: flex;
  align-items: center;
  column-gap: 9px;
  margin-bottom: 15px;
}

.search__field {
  flex: 1;
}

.search__input {
  width: 100%;
  color: var(--color-form);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #2f2f2f;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 3px;
}

.search__input:focus {
  border-color: #4285f4;
}

.search__error {
  min-height: 10px;
  color: var(--color-form-error);
  font-size: 10px;
  line-height: 10px;
  display: block;
  visibility: hidden;
}

.search__error_visible {
  visibility: visible;
}

.search__button {
  width: 44px;
  height: 44px;
  background: url(images/search-form_find-btn.svg) no-repeat center;
  border-radius: 6px;
  margin-bottom: 13px;
}

.search__filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.search__filter-text {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .search__form {
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 320px) {
  .search {
    width: calc(100% - 4px * 2);
  }

  .search__form {
    margin-bottom: 33px;
  }

  .search__input {
    padding: 12px 13px;
  }

  .search__filter-text {
    font-size: 11px;
  }
}
