.about-me__portfolio {
  color: #8b8b8b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 50px;
}

@media screen and (max-width: 984px) {
  .about-me__portfolio {
    margin: 0 0 49px;
  }
}

@media screen and (max-width: 580px) {
  .about-me__portfolio {
    font-size: 14px;
    margin: 0 0 40px;
  }
}
