.about-me__heading {
  margin-bottom: 66px;
}

@media screen and (max-width: 984px) {
  .about-me__heading {
    margin-bottom: 67px;
  }
}

@media screen and (max-width: 580px) {
  .about-me__heading {
    margin-bottom: 60px;
  }
}
