.footer {
  width: calc(100% - 70px * 2);
  font-size: 13px;
  line-height: 16px;
  margin: 0 auto;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__heading {
  color: #8b8b8b;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
  margin-top: 79px;
  margin-bottom: 20px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer__copyright {
  margin: 0;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.footer__link {
  color: #fff;
  display: block;
}

@media screen and (max-width: 808px) {
  .footer {
    width: calc(100% - 30px * 2);
  }
}

@media screen and (max-width: 580px) {
  .footer {
    width: calc(100% - 10px * 2);
    font-size: 12px;
  }

  .footer__heading {
    color: #8b8b8b;
    font-size: 12px;
    padding-bottom: 20px;
    margin-top: 79px;
    margin-bottom: 30px;
  }

  .footer__nav {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 11px;
    margin-bottom: 29px;
  }

  .footer__copyright {
    text-align: center;
    margin: 0;
  }
}
