.techs__item {
  width: 90px;
  height: 60px;
  display: block;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.56px;
  text-align: center;
  padding: 21px 0;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0;
}

@media screen and (max-width: 984px) {
  .techs__item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 580px) {
  .techs__item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.48px;
    padding: 21px 0;
  }
}
