.tooltip {
  width: 100%;
  min-height: 28px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
  margin-bottom: 20px;
}

.tooltip_visible {
  visibility: visible;
}

.tooltip__error-status {
  font-weight: 500;
}

.tooltip__text {
  font-size: 11px;
  text-align: center;
  margin: 0;
}

.tooltip__error-text {
  color: var(--color-error);
}

.tooltip__success-text {
  color: var(--color-light);
}
