@import url(./vendor/normalize.css);

@import url(./vendor/fonts.css);

.page {
  --color-light: #fff;
  --color-dark: #000;
  --color-gray: #8b8b8b;
  --color-green: #3ddc84;
  --color-blue: #4285f4;
  --color-error: #ff004c;

  --color-form: var(--color-light);
  --color-form-error: #ee3465;

  --border-color-primary: #424242;
  --border-color-secondary: #dadada;

  --bg-color-primary: #202020;
  --bg-color-secondary: #272727;
  --bg-color-blue: var(--color-blue);
  --bg-color-green: var(--color-green);
  --bg-color-dark-gray: #2f2f2f;
  --bg-color-dark-gray-secondary: #303030;

  color: var(--color-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--bg-color-primary);
}

.page__container {
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.page__title {
  margin: 0;
}

.page__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page__link {
  color: var(--color-light);
  text-decoration: none;
  border: none;
  opacity: 1;
  transition: opacity 0.5s;
  background-color: d;
}

.page__button {
  cursor: pointer;
  border: none;
  outline: none;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.5s;
  padding: 0;
}

@media screen and (hover: hover) {
  .page__link:hover {
    opacity: .7;
  }

  .page__button:hover {
    opacity: .8;
  }
}

.page__button:focus-visible {
  outline: 1px solid var(--color-light);
  outline-offset: 1px;
}

.page__input {
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0;
}

.page__input:focus {
  outline: none;
}

.page__input:-webkit-autofill,
.page__input:-webkit-autofill:hover,
.page__input:-webkit-autofill:focus {
  caret-color: var(--color-form);
  -webkit-text-fill-color: var(--color-form);
  -webkit-transition: background-color 100000s ease-in-out 0s;
  transition: background-color 100000s ease-in-out 0s;
}

@media (prefers-reduced-motion: no-preference) {
  .smooth-scroll {
    scroll-behavior: smooth;
  }
}
