.content {
  display: flex;
  flex-direction: column;
  row-gap: 110px;
}

@media screen and (max-width: 984px) {
  .content {
    row-gap: 90px;
  }
}

@media screen and (max-width: 580px) {
  .content {
    row-gap: 70px;
  }
}
