.techs {
  background-color: #272727;
  padding-top: 100px;
}

@media screen and (max-width: 984px) {
  .techs {
    padding-top: 90px;
  }
}

@media screen and (max-width: 580px) {
  .techs {
    background-color: inherit;
    padding: 0;
  }
}
