.section_size_s {
  max-width: calc(100% - 70px * 2);
}

@media screen and (max-width: 984px) {
  .section_size_s {
    max-width: calc(100% - 50px * 2);
  }
}

@media screen and (max-width: 580px) {
  .section_size_s {
    max-width: calc(100% - 18px * 2);
  }
}
